<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <header>
      <a th:href="@{/books/findAll}" id="direct-find-all-id" class="direct-new-book">Books</a>
      <a th:href="@{/books/new}" id="direct-new-book-id" class="direct-new-book">New Book</a>
      <a th:href="@{/}" id="direct-home-id" class="direct-new-book">Home</a>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>author</th>
            <th>pageCount</th>
            <th>username</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.pageCount}"></td>
            <td th:text="${book.username}"></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
