<html lang="en" xmlns:th="http://www.thymleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/new-book.css}" />
    <link rel="stylesheet" th:href="@{/css/cutomer.css}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      defer
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script defer th:src="@{/js/customer.js}"></script>
  </head>
  <body>
    <div th:replace="header :: header"></div>
    <div class="right_bottom_panel_twice" id="right_bottom_panel_twice_id">
      <div class="search_box_cont" id="search_box_cont_id">
        <div class="icon_search">
          <i class="fi fi-br-search"></i>
        </div>
        <input type="text" class="main_search" placeholder="Search book" id="main_search_id" />
      </div>
      <a href="/" class="basket_btn"></a>
    </div>

    <div class="main_container">
      <div class="book_container">
        <div class="book" th:each="book : ${books}">
          <img th:src="${book.image}" alt="${book.image}" class="main_img" />
          <div class="book_container_body">
            <div class="book_price">25$</div>
            <div class="book_name" th:text="${book.name}"></div>

            <div class="book_little_panel">
              <div class="book_description" th:text="${book.description}"></div>
            </div>
          </div>
          <div class="under_panel_book">
            <div class="right_panel">
              <div class="book_author" th:text="${book.author}">
                Dostoyevsky
              </div>
              <div class="book_page_count" th:text="${book.pageCount}">625</div>
            </div>
            <div class="left_panel">
              <a href="/" class="buy_it_button">Add to basket</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
