<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${header}">Document</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/new-book.css}" />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/new-book.css" />
  </head>
  <body>

    <div th:replace="header :: header"></div>

    <form
      th:action="@{/books/new-book-process}"
      class="login-form"
      th:object="${book}"
      method="POST"
    >
      <h1 th:text="${header}">New - Book</h1>

      <div class="form-input-material">
        <label for="book-id" class="label-cr" hidden>id:</label>
        <input
          type="hidden"
          name="book-id"
          id="book-id-id"
          autocomplete="off"
          class="form-control-material input"
          th:field="*{id}"
          placeholder="id"
          disabled
        />
      </div>

      <div class="form-input-material">
        <label for="book-name" class="label-cr" hidden>Name:</label>
        <input
          type="text"
          name="book-name"
          id="book-name"
          autocomplete="off"
          class="form-control-material input"
          th:field="*{name}"
          placeholder="Name"
        />
        <span
          class="error-line"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
        ></span>
      </div>

      <div class="form-input-material">
        <label for="book-description" class="label-cr" hidden
          >Description:</label
        >
        <textarea
          name="book-description"
          id="book-description"
          cols="30"
          rows="10"
          autocomplete="off"
          class="form-control-material input-text"
          th:field="*{description}"
          required
          placeholder="Description"
        ></textarea>
        <span
          class="error-line"
          th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"
        ></span>
      </div>

      <div class="form-input-material">
        <label for="book-price" class="label-cr" hidden>Price:</label>
        <input
          type="number"
          name="book-price"
          id="book-price"
          autocomplete="off"
          class="form-control-material input"
          th:field="*{price}"
          required
          placeholder="Price"
        />
        <span
        class="error-line"
        th:if="${#fields.hasErrors('price')}"
        th:errors="*{price}"
      ></span>
      </div>
      <div class="form-input-material">
        <label for="book-author" class="label-cr" hidden>Author:</label>
        <input
          type="text"
          name="book-author"
          id="book-author"
          autocomplete="off"
          class="form-control-material input"
          th:field="*{author}"
          required
          placeholder="Author"
        />
        <span
        class="error-line"
        th:if="${#fields.hasErrors('author')}"
        th:errors="*{author}"
      ></span>
      </div>
      <div class="form-input-material">
        <label for="book-pageCount" class="label-cr" hidden>PageCount:</label>
        <input
          type="number"
          name="book-pageCount"
          id="book-pageCount"
          autocomplete="off"
          class="form-control-material input"
          th:field="*{pageCount}"
          required
          placeholder="pageCount"
        />
        <span
        class="error-line"
        th:if="${#fields.hasErrors('pageCount')}"
        th:errors="*{pageCount}"
      ></span>
      </div>

      <button type="submit" class="btn btn-primary btn-ghost">Save</button>
    </form>
  </body>
</html>
