/* 
font-family: 'Anton', sans-serif;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Neonderthaw', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Spline Sans', sans-serif;
*/
.prs_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
} 
a {
  text-decoration: none !important;
  color: unset !important;
}
body {
  background-color: #222831;
}
header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #17191d;
  border-radius: 0px 0px 15px 15px;
  z-index: 10;
}
.main_cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: fit-content;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #eeeeee;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 20px;
  float: left;
}
.header_nav_bar {
  display: flex;
  width: 90%;
  height: 100%;
  float: left;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.nav_inner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.nav_inner > li {
  width: fit-content;
  height: fit-content;
  float: left;
  margin: 15px 0px 0px 100px;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  transition: all 0.5s;
}
.nav_inner > li > a {
  width: auto;
  height: auto;
  display: inline-block;
  transition: all 0.5s;
  position: relative;
}
/* .nav_inner > li:hover {
      background-color: #eeeeee;
      color: black;
    } */

.nav_inner > li > a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  top: 25px;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  -ms-border-radius: 250px;
  -o-border-radius: 250px;
}
.nav_inner > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Header end */
