@font-face {
  font-family: Sacco;
  src: url(../fonts/sacco/Sacco-SemiBoldCondensed.ttf);
}
@font-face {
  font-family: hitmo2;
  src: url(../fonts/hitmo_2_0/Hitmo2.0-Regular.ttf);
}
@font-face {
  font-family: goolangola;
  src: url(../fonts/goolangola/Goolangola-Bold.otf);
}
@font-face {
  font-family: goolangola_light;
  src: url(../fonts/goolangola/Goolangola-Light.otf);
}
@font-face {
  font-family: chopper;
  src: url(../fonts/chopper/Chopper.ttf);
}
@font-face {
  font-family: montserrat_italic;
  src: url(../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fonts/kanit/Kanit-Medium.ttf);
}
@font-face {
  font-family: kanit_regular;
  src: url(../fonts/kanit/Kanit-Regular.ttf);
}
.page_container {
  width: 100%;
  height: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.container_panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.selections_panel {
  width: 16%;
  border-inline: 1px solid black;
}
.main_panel {
  width: 59%;
  border-inline: 1px solid black;
}
.friends_panel {
  width: 25%;
  border-inline: 1px solid black;
}
.selection_panel_main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.selection_panel_secondary_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-inline: 1px solid black;
}
.selection_panel_secondary_container.one {
  height: 70%;
}
.selection_panel_secondary_container.two {
  height: 30%;
}
/* Selection */
.selection_panel_secondary_container_selection {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.selection_panel_secondary_container_selection_selected_activation {
  width: 0%;
  height: 100%;
  background: rgb(0, 101, 108);
  background: linear-gradient(90deg, #81b7ee 0%, #6187f0 100%);
  border-radius: 0px 50px 50px 0px;
  box-shadow: 0px 0px 25px #81b7ee;
}
.selection_panel_secondary_container_selection_icon {
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  margin: 0px 0px 0px 4%;
}
/* .selection_panel_secondary_container_selection_compare_name_icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
} */
.ion_home {
  color: whitesmoke;
}
.fi-rr-home {
  font-size: 25px;
}
.fi-rr-user {
  font-size: 25px;
}
.fi-rr-chart-histogram {
  font-size: 25px;
}
.fi-rr-navigation {
  font-size: 25px;
}
.fi-rr-eclipse {
  font-size: 25px;
}
.selection_panel_secondary_container_selection_name {
  width: auto;
  height: auto;
  position: absolute;
  margin: 0px 0px 0px 7%;
  font-family: goolangola;
  font-weight: 1000;
  font-size: 28px;
}

.selection_panel_secondary_container
  > .selection_panel_secondary_container_selection {
  margin: 25px 0px 0px 0px;
}
.selection_panel_secondary_container_selection.active
  > .selection_panel_secondary_container_selection_selected_activation {
  width: 42%;
  height: 100%;
}
