<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tələbələr</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">

<a th:href="@{/}" class="btn btn-primary">Ana səhifə</a> | 

<a th:href="@{/students/open-save-page}" class="btn btn-success">Yeni tələbə</a> | 


<form th:action="@{/students/search}">
<input name="query" th:value="${query}" class="form-control" id="search-input">
<input type="submit" value="Axtar" class="btn btn-success" >
</form>

         
  <table class="table table-dark">
    <thead>
      <tr>
      <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Təvəllüd</th>
         <th>Sektor</th>
 
          <th>Qiymet</th>
            <th>Email</th>
            
 
          <th>Qiymet</th><th>Telefon</th>
 
          <th>Əməliyyatlar</th>
        
      </tr>
    </thead>
    <tbody>
      <tr th:each="st : ${students}">
      
        <td th:text="${st.id}"> </td>
        <td th:text="${st.name}"> </td>
        <td th:text="${st.surname}"> </td>
        <td th:text="${st.birthday}"> </td>
        <td th:text="${st.sector}"> </td>
        
        <td th:text="${st.point}+' Xal'"> </td>
 
         <td th:text="${st.email}"> </td>
 
        <td th:text="${st.phone}"> </td>
 
        
        <td> 
        
        <a class="btn btn-danger" th:href="@{/students/delete/{id}(id=${st.id})}"
        onclick="return confirm('Silməyə əminsən?')"
        
        >Sil</a> 
        | 
        <a class="btn btn-primary" th:href="@{/students/edit/{id}(id=${st.id})}"
          
        >Redaktə</a> 
        
        
        
        </td>
        
      </tr>
       
    </tbody>
  </table>
</div>


<script  >

document.getElementById('search-input').focus();


</script>
</body>
</html>
